.theme_tabs_wrapper .top_tabs_lists {
	border: none;
}
.theme_tabs_wrapper .top_tabs_lists .react-tabs__tab {
	border: 1px solid #f1f2f5;
	padding: 3px 18px;
	border-radius: 22px;
	margin-right: 10px;
	white-space: nowrap;
}